version: 2.1
jobs:
  build:
    docker:
      - image: alpine:3.7
    steps:
      - run:
          name: First Step
          command: | 
            echo 'Hello World'
            echo 'This is the delivery pipeline'